name: Build ConsultorPrecio

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Build
      run: |
        xcodebuild -scheme ConsultorPrecio \
          -configuration Debug \
          -derivedDataPath build \
          -allowProvisioningUpdates \
          -sdk iphonesimulator \
          -arch arm64 \
          CODE_SIGN_IDENTITY="" \
          CODE_SIGNING_REQUIRED=NO
